html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}
* {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    border: 1px solid #fff;
    padding-left: 20px;
    margin-top: 20px;
}